body {
    font-family: 'Lato', sans-serif;
    color: #545454;
    background-color: #ffffff;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* header */
header {
    background-color: #0f08c9;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
}

.titletext {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
    font-size: 1.5em;
}

.titleobj {
    display: inline-block;
    padding-top: 10px;
}

.headbutton {
    color: #ffffff;
    font-weight: 400;
    margin: auto 10px;
    font-family:'Lato', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}

#shopbutton {
    text-decoration: underline;
}

.righthead {
    align-items: right;
    padding-top: 15px;
}

.leftspacer {
    padding-left: 20px;
}

.rightspacer {
    padding-right: 20px;
}

#cartcounter {
    background-color: #ffffff;
    color: #0f08c9;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
    height: 1.5em;
    width: 35px;
}

/* Subtitle */
.subtitletext {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-top: 50px;
}

/* Products */
.productbox {
    background-color: #ffffff;
    display: inline-block;
}

.innerbox {
    width: 100%;
    margin: 5px 5px 15px 5px;
    text-align: center;
    border: #c9c9c9 solid 2px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #c9c9c9, 0px 2px 2px 0px #ebebeb;
}

.itemphoto {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.itemname {
    font-size: 1.1em;
}

.itemprice {
    font-size: 1.2em;
}

.addtocart {
    background-color: #ffffff;
    border: #c9c9c9 solid 2px;
    border-radius: 3px;
    margin: 10px 0px 20px 0px;
    padding: 5px 25px;
}